/* home.module.css */


.title {
    text-align: center;
    margin: 40px 0;
    background-color: rgb(187, 12, 12);
    color: rgb(0, 0, 0);
}

.product {
    margin-top: 5px;
   
}


/* MeuComponente.module.css */

.imagem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* ajuste conforme necessário */
    height: auto; /* ajuste conforme necessário */
  }
  
  .imagem {
    max-width: 100%; /* para que a imagem não ultrapasse o container */
    height: auto; /* para manter a proporção da imagem */
  }
  .home {
    background-color: #0999ac;
    min-height: 100vh;
    
  }
  